@charset "UTF-8";
$b : 40;
// $b : 46.875;
@function pxToRem($n) {
  @return (($n / $b)*1rem);
}
@function px2($n) {
  @return (($n / 2)*1px);
}
.hide{display: none;}
/*===================
		样式重置
	===================*/
* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
img {
  border: 0 none;
  vertical-align: top;
}
i,
em {
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
input,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: #000;
}
html,
body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 640px;
  height: 100%;
  font-size: 12px;
  font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
  line-height: 1.5;
  color: #666;
  -webkit-text-size-adjust: 100% !important;
  -webkit-user-select: none;
  user-select: none;
  background: transparent;
  overflow: hidden;
}
input[type="text"],
textarea {
  -webkit-appearance: none;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
// html,body{width:100%;height:100%;}
.go{position: absolute;left:0;right:0;top:0;bottom:0;-webkit-transform-origin: center center;

  .go_start{background:url(../images/index1_bg.png) no-repeat;background-size:100% 100%;overflow: hidden;position: absolute;left:0;right:0;bottom:0;top:0;}
  .text_icon{width:px2(538);height:px2(207);background: url(../images/text_icon.png);background-size:px2(538) px2(207);display: block;position: absolute;left:31%;top:41%;z-index: 9;}
  .eye_icon{display: block;width:px2(228);height:px2(228);background: url(../images/zhayan.png);background-repeat: no-repeat;background-size:px2(11400) px2(228);position: absolute;left:43%;top:16%;background-position: 0 0;}
  .eye_iconAni{animation:eyeani 2.5s steps(50,end);}
  .start_btn{width:170px;height:100px;position: absolute;bottom:0;left:37%;display: block;}
  .go_select{background:url(../images/bg_all.png) no-repeat;background-size:100% 100%;width:100%;height:100%;overflow: hidden;position: relative;}
  .go_select_wrap{width:518px;height:320px;margin:0 auto;background:url(../images/select_bg.png) no-repeat;background-size:100% 100%;overflow: hidden;position: absolute;left:0;bottom:0;right:0;top:1em;}
  .sex_select{width:px2(220);position: absolute;left:17%;top:48%;}
  .boy{width:px2(62);height:px2(81);background:url(../images/boy.png) no-repeat;background-size:100%;display: block;position: relative;}
  .girl{width:px2(89);height:px2(75);background:url(../images/girl.png) no-repeat;background-size:100%;display: block;margin-top:30px;margin-left:-10px;position: relative;}
  .select_icon{width:px2(43);height:px2(33);background:url(../images/selected.png) no-repeat;background-size:100%;display: block;position: absolute;right:0;bottom:-14px;display: none;}
  .selected .select_icon{display: block;}
  .sure_btn{background: url('../images/sure_btn.png') no-repeat;width:px2(212);height:px2(147);display: block;background-size:px2(212) px2(147);position: absolute;bottom:-10%;left:50%;margin-left:-52px;}
  .guest{position:absolute;width:px2(700);top:48%;left:33%;margin-right:-20px;
    .wangdongcheng{width:px2(111);height:px2(72);background:url(../images/wangdongcheng.png) no-repeat;background-size:100%;display: block;position: relative;}
    .duchun{width:px2(92);height:px2(72);background:url(../images/duchun.png) no-repeat;background-size:100%;display: block;position: relative;}
    .linyun{width:px2(90);height:px2(72);background:url(../images/linyun.png) no-repeat;background-size:100%;display: block;position: relative;}
    .ella{width:px2(110);height:px2(72);background:url(../images/ella.png) no-repeat;background-size:100%;display: block;position: relative;}
    .songxiaobao{width:px2(78);height:px2(72);background:url(../images/songxiaobao.png) no-repeat;background-size:100%;display: block;position: relative;margin-left:10px;}
    .tianliang{width:px2(92);height:px2(72);background:url(../images/tianliang.png) no-repeat;background-size:100%;display: block;position: relative;}
    .duhaitao{width:px2(80);height:px2(72);background:url(../images/duhaitao.png) no-repeat;background-size:100%;display: block;position: relative;}
    .jialing{width:px2(117);height:px2(72);background:url(../images/jialing.png) no-repeat;background-size:100%;display: block;position: relative;}
    span{float: left;margin-right:30px;margin-bottom:px2(70)}
  }
}

@-webkit-keyframes eyeani
{
  0% {background-position: 0 0; }
  100% {background-position: -5700px -0px;}
}
