@charset "UTF-8";
* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-style: normal;
}

body, html, div, h1, h2, h3, h4, h6 {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: #666;
}

body {
  font-size: 14px;
  font-family: \5170\4ead\9ed1-\7b80, Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
  line-height: 1.5;
  color: #666;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  -webkit-user-select: none;
  user-select: none;
}

input[type="text"], textarea {
  -webkit-appearance: none;
  appearance: none;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.mod_container {
  width: 100%;
  height: 100%;
}
/* Play */
.stage {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.stage_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 0;
  white-space: nowrap;
  z-index: -100;
}

.stage_bg_move {
  display: inline-block;
  width: 4138px;
  height: 100%;
  background: url(../images/stage_bg_73d0c060.png) repeat-x 0 bottom;
  background-size: 2069px 320px;
  transform: translateX(0);
  -webkit-transform: translateX(0);
}
.speednone { animation-name: ''; }
.speed0{animation-duration:6s}
.speed1{animation-duration:5s}
.speed2{animation-duration:4s}
.speed3{animation-duration:3s}
@-webkit-keyframes stage_bg {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-2069px);
  }
}
.stage_box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background: url(../images/play_bg_c906301b.png) no-repeat;
  background-size: 100% 100%;
}

.stage_main {
  position: relative;
  margin: 0 3.5em;
  height: 100%;
}

.score {
  padding: 2.5em 0 0;
  overflow: hidden;
}

.score_eye {
  float: left;
  width: 31px;
  height: 31px;
  background: url(../images/play_eye_887bf49d.png) no-repeat;
  background-size: 31px auto;
}

.score_num {
  float: left;
  height: 31px;
  line-height: 31px;
  margin: 0 0 0 4px;
  font-size: 30px;
}

.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.bar_red {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0%;
  width: 24px;
  background: url(../images/bar_pot_red_bce04c18.png) no-repeat;
  background-size: auto 100%;
}

.bar_black {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0%;
  width: 24px;
  background: url(../images/bar_pot_black_8fd8ddc7.png) no-repeat;
  background-size: auto 100%;
}

.role {
  position: absolute;
  bottom: 3em;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

.role_item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 128px;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.role_name {
  position: relative;
  height: 38px;
  text-align: center;
  font-size: 0;
}
.role_name:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 0;
  margin: 0 0 0 -6px;
  overflow: hidden;
  border: 6px dashed transparent;
  border-top: 6px solid #231815;
}

.role_name_txt {
  font-size: 16px;
  position: relative;
  display: inline-block;
  height: 25px;
  padding: 0 8px;
  line-height: 25px;
  border: 1px solid #231815;
  background: rgba(0, 0, 0, 0.1);
  color: #231815;
  font-weight: bold;
  white-space: nowrap;
}
.role_name_txt:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 2px;
  background: #231815;
  overflow: hidden;
}
.role_name_txt:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2px;
  height: 2px;
  background: #231815;
  overflow: hidden;
}
.role_name_txt i:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
  height: 2px;
  background: #231815;
  overflow: hidden;
}
.role_name_txt i:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 2px;
  background: #231815;
  overflow: hidden;
}

.role_body {
  position: relative;
  width: 128px;
  height: 128px;
  overflow: hidden;
  background-repeat: repeat-x;
  background-size: 2176px auto;
  -webkit-animation: role_bg 0.45s infinite steps(17);
  animation: role_bg 0.45s infinite steps(17);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.role_1 .role_body {
  background-image: url(../images/role_bg_1_2b0d55d5.png);
}

.role_2 .role_body {
  background-image: url(../images/role_bg_2_a69a1ecf.png);
}

.role_3 .role_body {
  background-image: url(../images/role_bg_3_f0cdd474.png);
}

.role_4 .role_body {
  background-image: url(../images/role_bg_4_343f88cb.png);
}

.role_5 .role_body {
  background-image: url(../images/role_bg_5_80784572.png);
}

.role_6 .role_body {
  background-image: url(../images/role_bg_6_7b43bb9f.png);
}

.role_7 .role_body {
  background-image: url(../images/role_bg_7_57ccf87e.png);
}

.role_8 .role_body {
  background-image: url(../images/role_bg_8_8d1df79f.png);
}

.role_9 .role_body {
  background-image: url(../images/role_bg_9_bf8e45be.png);
}

.role_10 .role_body {
  background-image: url(../images/role_bg_10_71b0edf8.png);
}

@-webkit-keyframes role_bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2176px 0;
  }
}
/* Tips */
.stage_tips {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 1000;
}

.stage_tips_btn {
  position: absolute;
  left: 7px;
  bottom: 7px;
}

.stage_tips_1 {
  width: 320px;
  height: 156px;
  background: url(../images/play_tips1_96ea10d7.png) no-repeat;
  background-size: 320px auto;
}
.stage_tips_1 .stage_tips_btn {
  width: 305px;
  height: 47px;
}

.stage_tips_2 {
  width: 255px;
  height: 166px;
  background: url(../images/play_tips2_94e43dde.png) no-repeat;
  background-size: 255px auto;
}
.stage_tips_2 .stage_tips_btn {
  width: 240px;
  height: 47px;
}

.stage_tips_3 {
  width: 370px;
  height: 166px;
  background: url(../images/play_tips3_19c252b1.png) no-repeat;
  background-size: 370px auto;
}
.stage_tips_3 .stage_tips_btn {
  width: 178px;
  height: 47px;
}
.stage_tips_3 .stage_tips_btn_l {
  left: 7px;
}
.stage_tips_3 .stage_tips_btn_r {
  left: auto;
  right: 7px;
}

.stage_tips_4 {
  width: 370px;
  height: 166px;
  background: url(../images/play_tips4_489f5e1c.png) no-repeat;
  background-size: 370px auto;
}
.stage_tips_4 .stage_tips_btn {
  width: 178px;
  height: 47px;
}
.stage_tips_4 .stage_tips_btn_l {
  left: 7px;
}
.stage_tips_4 .stage_tips_btn_r {
  left: auto;
  right: 7px;
}

.stage_tips_txt {
  position: absolute;
  left: 95px;
  top: 70px;
  color: #fff;
  font-size: 16px;
  width: 70px;
  white-space: nowrap;
  text-align: center;
}

/* Loading */
.loading {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000;
  z-index: 1000;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.loading_tit {
  width: 82px;
  height: 14px;
  margin: 0 auto;
  background: url(../images/loading_txt_10175546.png) no-repeat;
  background-size: 82px auto;
}
.seconds_wrap{width:12em;position: absolute;top:0;left:50%;margin-left:-6em;text-align: center;}
.seconds_wrap .seconds_num{color:#de2e20;font-size:40px;line-height: 75px;display: block;}
.loading_bg {
  position: relative;
  width: 193px;
  height: 28px;
  margin: 8px 0 0;
  overflow: hidden;
}
.loading_bg:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: url(../images/loading_floor_2edcdddc.png) no-repeat;
  background-size: 193px auto;
}

.loading_bar {
  position: relative;
  width: 0%;
  height: 100%;
  background: url(../images/loading_line_0e210a3d.png) no-repeat -2px center;
  background-size: 243px auto;
  overflow: hidden;
}
.loading_bar:after {
  content: '';
  position: absolute;
  right: -4px;
  top: 4px;
  width: 20px;
  height: 20px;
  background: #000;
  overflow: hidden;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
}
/*
 * @author: mihan
 * @time: 2016-5-8
*/
